.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageupload-progress {
  width: 100%;
}
